# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development files
.env
.env.*
db.sqlite3

# Virtual environments
venv/
.venv/
env/
ENV/

# OS files
.DS_Store

# Git
.git/
.gitignore
.gitattributes

# IDEs
.idea/
.vscode/
*.swp
*.swo
